# also source the .envrc of parent directory
source_up

#! The order is important
#! Sourcing the parent env after layout discards the python env

# set name for virtual environment
export VIRTUAL_ENV=.venv
# use the python env
layout python3

# source venv alias
alias svenv="source .venv/bin/activate"

# https://github.com/direnv/direnv/wiki/Python
