# source venv alias
alias svenv="source .venv/bin/activate"
# set name for virtual environment
export VIRTUAL_ENV=.venv
# use the python env
layout python3
# also source the .envrc of parent directory
source_up

# https://github.com/direnv/direnv/wiki/Python
